@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    /* height: 100vh; */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(
        0deg,
        rgb(137, 137, 175) 30%,
        rgb(199, 178, 151) 70%
    );
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-top{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page-bottum{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.profile-box{
    width: 40%;
    min-width: fit-content;
    display: flex;
    margin: 20px;
    background-color: rgba(46, 48, 56, 0.6) ;
    border-radius: 15px;
}

.profile-info{
    width: 70%;
}

.profile-img{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-img img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.music-box{
    background-color: rgb(172, 188, 202);
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgb(100, 100, 126);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-box{
    position: relative;
    width: 120px;
}

.img-box img{
    width: inherit;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 10s linear infinite;

    animation-play-state: paused;
}

.music-box.play .img-box img{
    animation-play-state: running;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    background-color: rgb(172, 188, 202);
    border: 0;
    color: black;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
}

.action-btn-big{
    color: black;
    font-size: 20px;
}

.action-btn:focus{
    outline: 0;
}

.music-info{
    background-color: rgb(202, 210, 218);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 105px;
    width: calc(100% - 120px);
    padding: 10px 10px 10px 40px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h5{
    margin: 0;
}

.music-box.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}

.progress-bar{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    height: 5px;
    width: 100%;
}

.progress{
    background-color: rgb(64, 64, 94);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.volume-bar{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 10px;
    height: 5px;
    width: 75px;
    z-index: 1;
}

.volume{
    background-color: rgb(64, 64, 94);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: width 0.1s linear;
}

.page-nav{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    /* background-color: antiquewhite; */
    height: 70px;
    width: 40%;
    border-radius: 15px 15px 0 0;
}

.page-btn{
    width: 30%;
    border-radius: 15px 15px 0 0;
    background-color: antiquewhite;
    border-color: antiquewhite;
    cursor: pointer;
}

.page-btn.on{
    border: 0;
    cursor: default;
}

.video-01,.video-02{
    align-self: center;
}

.my-link-box{
    width: 80%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    opacity: 0;
    text-align: center;
}

.my-link-box.on{
    height: 800px;
    background-color: antiquewhite;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.recomend-youtube-box{
    position: relative;
    width: 80%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    opacity: 0;
    text-align: center;
}

.recomend-youtube-box.on{
    position: relative;
    bottom: 40px;
    height: 800px;
    background-color: antiquewhite;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.recomend-video-box{
    position: relative;
    width: 80%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    opacity: 0;
    text-align: center;
}

.recomend-video-box.on{
    position: relative;
    height: 160vh;
    min-height: fit-content;
    bottom: 80px;
    background-color: antiquewhite;
    opacity: 1;
    transition: opacity 0.5s ease-in;

}

/* .my-link{
    display: block;
}

.recomend-youtube,.recomend-video{
    display: hide;
} */